.crud{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
table td {
    width: 200px;
    height: 30px;
    background-color: palevioletred;
    text-align: center;
    color: white;

}
table td button{
    padding: 5px 10px;
    border-radius: 5%;
}
table td button.edit{
    border: 1px solid rgb(6, 98, 6);
    background-color: green;
    color: white;
}
table td button.edit:hover{
    cursor: pointer;
    border: 2px solid white;
}
table td button.delete{
    border: 1px solid red;
    background-color: red;
    color: white;
}
table td button.delete:hover{
    cursor: pointer;
    border: 2px solid white;
}
.addForm{
    margin-bottom: 30px;
    margin-right: 20px;
}
.addForm input{
    width: 230px;
    height: 30px;
    margin: 5px;
}
.addForm button{
    width: 70px;
    height: 36px;
    color: white;
    background-color: green;
}
